<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/8e2e4b5d5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script&family=Lora&family=Notable&family=Pacifico&family=Source+Sans+Pro:wght@400;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/imgs/favicon.jpg" type="image/x-icon">
    <title>Vida Leve By Aline</title>
</head>

<body>
    <!-- Menu home page -->
    <div class="container card card-hover">
        <nav id="snav" class="navbar justify-content-around navbar-expand-lg pt-3 px-0 py-0 navbar-light bg-white">
            <a class="navbar-brand brand" href="/index"><img src="/imgs/vidalevelogo.png"></a>
            <div class="navbar" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center justify-content-end">
                    <li class="nav-item fa-3x">
                        <a class="nav-link pr-lg-5 pr-xl-0" href="https://www.instagram.com/vidalevebyaline"
                            target="_blank"> <i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item fa-3x">
                        <a class="nav-link px-lg-5 pr-xl-0" href="https://www.facebook.com/aline.daniel.35"
                            target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <img class="ml-5 d-none d-lg-block pr-xl-0" id="alineLogo" src="/imgs/favcon2.jpg" alt="Aline Logo">
                </ul>
            </div>
        </nav>
    <!-- Menu content  -->
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-lg snav sticky-top">
            <a class="navbar-brand px-lg-3 px-4" href="/index"><i class="fas fa-spa"></i></a>
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                <div class="nb navbar-nav mainNav">
                    <ul class="navbar-nav" id="buttonsNav">
                        <li class="nav-item">
                            <a class="nav-link px-auto px-lg-2 px-xl-3 aMenu" href="/index/receitas">RECEITAS</a>
                        </li>
                        <li class="nav-item nbactive">
                            <a class="nav-link px-auto px-lg-2 px-xl-3 aMenu" href="/index/viagens">VIAGENS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-auto px-lg-2 px-xl-3" href="/index/corpo_e_mente">CORPO E MENTE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-auto px-lg-2 px-xl-3" href="/index/acoes_sociais">AÇÕES SOCIAIS</a>
                        </li>
                        <li class="nav-item">
                            <form action="/index/search/s" method="GET" class="form-inline px-auto">
                                <input id="formMenu" class="form-control border-0" type="search" placeholder="Pesquisa Vida Leve"
                                    aria-label="Search">
                                <button class="btn px-2" type="submit"><i class="iconP fas fa-search"></i></button>
                            </form>
                        
                        </li>
                    </ul>
                </div>
                <a class="px-2 ni" href="/index/new"><i  class="fas fa-hand-holding-heart"></i></a> 
            </div>
        </nav>
    </div>