<strong> "Não deixe para depois. </strong><br>
Seu corpo precisa de atenção já!"<br><br>

Apesar do cansaço acumulado, insisto em fazer meu pilates e não perco uma aula... E quer saber o resultado?! Sempre deixo alguns kilinhos de desânimo, de preguiça, de procrastinação, além de muito suor depois de uma aula caprichada da @carlab_pilates. Amo muito tudo isso! 😍
<br>
Sempre com o auxílio das melhores. Bora?!<br><br>

@studiovivapilates_pc<br>
@studiovivapilates_pc<br>
🧘‍♀️🤸‍♀️<br>

<img src="/imgs/pilates5.jpg" alt="">

Reposted from @studiovivapilates_pc"<br>

#pilates #vivapilates #vivapilatespc #pilatesbrasil #pilateslovers #amopilates #pilateiros #pilateslove #powerhouse #fitness #saúde #corpoemforma #top30pilates #pilatestododia #pilatesparatodos #pilatesbrasil #pilatesgirl #boapostura #barriganegativa #lovepilates #alongamento #josephpilates #poçosdecaldas #pilateslife #postura #posturapilates #pilates<br>
🤸‍♀️

<strong></strong> <br>