<%- include("partials/header") %>

<div class="container bg-light py-5 card">
<div class="container p-5 bg-white card card-hover" id="formNew">
  <form action="/index" method="POST">
    <h2>Nova Postagem</h2>
    <div class="form-group">
      <label for="">Título</label>
      <input type="text" name="postage[title]" class="form-control" id="" placeholder="título">
    </div>
    <div class="form-group">
      <label for="">Imagem</label>
      <input type="text" name="postage[image]" class="form-control" value="/imgs/" id="" placeholder="local da imagem">
    </div>
    <div class="form-group">
      <label for="">Categoria</label>
      <input type="text" name="postage[category]" class="form-control" id="" placeholder="categoria">
    </div>
    <div class="form-group">
      <label for="">Conteúdo da Postagem</label>
      <textarea name="postage[body]" class="form-control" id="" rows="6"></textarea>
    </div>
    <input class="button" type="submit" name="" id="">
  </form>
</div>
</div>
<%- include("partials/footer") %>